.card-add-main {
  margin: 100px auto;
}
.card-add-main h2 {
  margin-bottom: 50px;
}

.main-container {
  width: 1137px;
  margin-top: 50px;
  margin-bottom: 100px;
  justify-content: space-between;
  height: 100%;
}

.add-photo {
  width: 45%;
  flex-direction: column;
}
.add-photo img {
  width: 45%;
  margin-bottom: 50px;
}
.add-photo .add {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.add-photo .label {
  padding: 17px 180px;
  background-color: #000;
  color: #fff;
  margin-top: 100px;
  border-radius: 10px;
  text-align: center;
}

.desc {
  width: 47%;
}
.desc-li {
  list-style-type: none;
  margin-bottom: 30px;
}
.desc-li p {
  font-size: 14px;
  margin-bottom: 5px;
}
.desc-li input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: solid 0.5px;
  font-size: 16px;
  transition: ease 0.3s;
  padding-left: 15px;
  box-sizing: border-box;
}
.desc-li input:hover, .desc-li input:focus, .desc-li input:target {
  background-color: #ededed;
  border: solid 0.5px transparent;
  transition: ease 0.3s;
  outline: none;
}
.desc .description-title {
  font-weight: 700;
}

#category option,
#category {
  text-transform: capitalize;
}

#id-p {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #ededed;
  display: flex;
  border: none;
  align-items: center;
  justify-content: space-around;
}

.price-li {
  column-gap: 20px;
}
.price-li select {
  width: 90px;
  height: 50px;
}
.price-li label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}
.price-li .full-price input {
  text-decoration: line-through;
  color: #878585;
}

#description {
  width: 500px;
  height: auto;
  border-radius: 10px;
  outline: none;
  resize: none;
}
#description::first-letter {
  text-transform: uppercase;
}

.upload {
  justify-content: space-between;
  flex-wrap: wrap;
}

.checkbox-wrap {
  flex-direction: column;
  height: 261px;
  flex-wrap: wrap;
}
.checkbox-wrap div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.checkbox-wrap label {
  user-select: none;
  display: inline-flex;
  line-height: 32px;
}
.checkbox-wrap #red::before {
  background-color: red;
}
.checkbox-wrap #green::before {
  background-color: #438e27;
}
.checkbox-wrap #white::before {
  background-color: #fff;
  border: solid 0.5px #000;
}
.checkbox-wrap #pink::before {
  background-color: #ff49f3;
}
.checkbox-wrap #orange::before {
  background-color: #ff6a00;
}
.checkbox-wrap #yellow::before {
  background-color: #ffee33;
}
.checkbox-wrap #blue::before {
  background-color: #173ac9;
}
.checkbox-wrap #black::before {
  background-color: #000;
}
.checkbox-wrap #light-blue::before {
  background-color: #75c9fd;
}
.checkbox-wrap #light-green::before {
  background-color: #89f049;
}
.checkbox-wrap input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}
.checkbox-wrap input + label::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: solid 0.5px transparent;
  border-radius: 10px;
}
.checkbox-wrap input:checked + label::before {
  content: url("../image/general/checked.svg");
}
.checkbox-wrap input:checked + #black::before {
  content: url("../image/general/checked-white.svg");
}

.size {
  column-gap: 20px;
}
.size label {
  user-select: none;
  display: inline-flex;
  line-height: 35px;
  display: inline-block;
  width: 35px;
  height: 35px;
  border: solid 0.5px #000;
  border-radius: 10px;
  text-align: center;
  padding: 2px 3px 1px;
  transition: ease 0.3s;
}
.size input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}
.size input:checked + label {
  content: "";
  background-color: #000;
  color: #fff;
  transition: ease 0.3s;
}

.add-item-btn {
  width: 100%;
  padding: 16px 0;
  font-size: 16px;
  font-family: "Jost";
  background: #000;
  color: #fff;
  border-radius: 10px;
  margin-top: 30px;
}

.main-container.card-page {
  height: auto;
}

.card-page {
  justify-content: space-between;
}
.card-page-wrapper {
  margin-right: 50px;
}
.card-page-wrapper .img {
  width: 500px;
  height: 500px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.card-page-wrapper .img img {
  width: 100%;
  max-height: 100%;
}
.card-page-img-multi {
  display: flex;
  justify-content: space-between;
}
.card-page-img-multi .img-small {
  height: 150px;
  width: 150px;
  background-color: #ededed;
  border-radius: 10px;
}

.card-page .checkbox-wrap {
  flex-wrap: wrap;
  flex-direction: row;
  height: auto;
}
.card-page .checkbox-wrap div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.card-page .checkbox-wrap label {
  user-select: none;
  display: inline-flex;
  line-height: 32px;
}
.card-page .checkbox-wrap #red::before {
  background-color: red;
}
.card-page .checkbox-wrap #green::before {
  background-color: #438e27;
}
.card-page .checkbox-wrap #white::before {
  background-color: #fff;
  border: solid 0.5px #000;
}
.card-page .checkbox-wrap #pink::before {
  background-color: #ff49f3;
}
.card-page .checkbox-wrap #orange::before {
  background-color: #ff6a00;
}
.card-page .checkbox-wrap #yellow::before {
  background-color: #ffee33;
}
.card-page .checkbox-wrap #blue::before {
  background-color: #173ac9;
}
.card-page .checkbox-wrap #black::before {
  background-color: #000;
}
.card-page .checkbox-wrap #light-blue::before {
  background-color: #75c9fd;
}
.card-page .checkbox-wrap #light-green::before {
  background-color: #89f049;
}
.card-page .checkbox-wrap label::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: solid 0.5px transparent;
  border-radius: 10px;
}
.card-page .checkbox-wrap label p {
  display: none;
}

.count-wrapper {
  padding: 18px 20px;
  column-gap: 20px;
  align-items: center;
  border: solid 0.5px #000;
  border-radius: 10px;
}
.count-wrapper .count {
  font-size: 20px;
  margin-bottom: 0;
}

.add-cart-wrapper {
  margin-top: 50px;
  justify-content: space-between;
  column-gap: 20px;
  height: 56px;
}

.btn-cart {
  background-color: #000;
  color: #fff;
  padding: 18px 0;
  flex-grow: 1;
  border-radius: 10px;
}

.favorite-div {
  padding: 15px 16px;
  border-radius: 10px;
  border: solid 0.5px #000;
}

.main-catalog {
  justify-content: space-between;
}

.category-select {
  width: 250px;
  outline: none;
  border: solid 0.5px #000;
}

.product-list {
  display: flex;
  width: 960px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 100px;
  gap: 30px;
}
.product-list .seller-item {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: solid 0.5px #ededed;
  padding: 7px;
  box-sizing: border-box;
}
.product-list .seller-item .seller-img-wrapper {
  flex-direction: column;
  justify-content: center;
}
.product-list .seller-item .seller-img-wrapper a {
  max-width: 263px;
  overflow: hidden;
}
.product-list .seller-item .seller-img-wrapper a img {
  width: 100%;
  height: 100%;
}
.product-list .seller-item button {
  position: absolute;
  bottom: 17px;
  padding: 14px 68px;
  left: 23px;
  border-radius: 10px;
  background: #fff;
  transition: ease 0.3s;
  outline: none;
  border: solid 0.5px #ededed;
}
.product-list .seller-item button:hover {
  background: #000;
  color: #fff;
  transition: ease 0.3s;
  border: solid 0.5px transparent;
}
.product-list .seller-item .seller-desc {
  font-size: 14px;
}

.category-select {
  border: solid 0.5px transparent;
  margin-right: 30px;
}

.id-dis {
  display: none;
}

.footer {
  width: 1440px;
  background-color: #000;
  color: #fff;
}
.footer .logo {
  margin-bottom: 30px;
}

.info {
  width: 1137px;
  margin: 50px auto 0;
  border-bottom: solid 1px #424146;
  justify-content: space-between;
  column-gap: 30px;
}
.info-wrapper {
  width: 20%;
  column-gap: 30px;
}
.info-wrapper:last-child {
  width: 30%;
}
.info-wrapper .h3 {
  margin-bottom: 20px;
}

.contact,
.information,
.service {
  margin-bottom: 50px;
  list-style-type: none;
}
.contact a,
.information a,
.service a {
  color: #fff;
  font-style: normal;
}

.contact-li {
  display: flex;
  margin-bottom: 20px;
}

.contact-img {
  margin-right: 10px;
}

.info-wrapper ul li:first-child {
  font-weight: 700;
}

.info-wrapper ul li {
  margin-bottom: 20px;
}

.mail {
  margin-top: 20px;
  padding: 13px 16px;
  border: solid 1px #fff;
  border-radius: 10px;
  justify-content: space-between;
}
.mail img {
  margin-right: 10px;
}
.mail label {
  display: flex;
  align-items: center;
}
.mail input {
  background: transparent;
  color: #fff;
  outline: none;
  border: none;
}
.mail ::placeholder {
  color: #fff;
  font-size: 16px;
}
.mail button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.underline {
  width: 1137px;
  margin: 20px auto;
  justify-content: space-between;
}

.cards {
  column-gap: 10px;
}

.sprite {
  column-gap: 20px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Jost";
  font-size: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  height: 100%;
  position: relative;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

main {
  width: 1440px;
  margin: 0 auto;
  flex-grow: 1;
}

.main-wrapper {
  width: 1137px;
}

footer {
  flex-grow: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.header,
.main,
.footer {
  display: flex;
  flex-direction: column;
}

.navigation,
.header-icon,
.header-icon-wrapper,
.cat-wrapper,
.slider,
.cat-slider,
.slider-item,
.seller-wrapper,
.seller-img-wrapper,
.promo,
.data,
.rev-wrapper-title,
.rev-slider,
.rev-container,
.rev-wrapper,
.author,
.insta-container,
.insta-photo,
.bullit,
.info,
.mail,
.cards,
.underline,
.sprite,
.main-container,
.add-photo,
.price-li,
.checkbox-wrap,
.size,
.breadcrumbs,
.count-wrapper,
.add-cart-wrapper,
.upload {
  display: flex;
}

h2 {
  font-size: 40px;
  font-weight: 400;
}

.slider {
  column-gap: 20px;
}
.slider svg {
  cursor: pointer;
  transition: ease 0.3s;
}
.slider svg:hover rect {
  fill: #000;
  transition: ease 0.3s;
}
.slider svg:hover path {
  stroke: #fff;
  transition: ease 0.3s;
}

.sidebar {
  position: fixed;
  top: 120px;
  left: 10px;
  z-index: 5;
}
.sidebar li {
  list-style-type: none;
  margin-bottom: 20px;
}
.sidebar li a svg {
  width: 35px;
}
.sidebar li a[disabled] {
  cursor: not-allowed;
  pointer-events: none;
}
.sidebar li a[disabled] svg path {
  fill: #d9d9d9;
}

.breadcrumbs {
  margin-bottom: 30px;
}
.breadcrumbs li {
  list-style-type: none;
}
.breadcrumbs li a svg {
  margin-left: 5px;
  margin-right: 10px;
  transform: rotate(-90deg);
}

.seller {
  margin: 150px auto;
  text-align: center;
}
.seller .h2 {
  margin-bottom: 50px;
}
.seller-wrapper {
  max-width: 1137px;
  flex-wrap: wrap;
  gap: 30px;
}
.seller-item {
  width: 23%;
  text-align: left;
}
.seller-img-wrapper {
  position: relative;
  height: 327px;
}
.seller .add-btn {
  position: absolute;
  bottom: 17px;
  padding: 14px 68px;
  left: 23px;
  border-radius: 10px;
  background: #fff;
  outline: none;
  border: none;
}
.seller-desc {
  margin-top: 22px;
}
.seller-discount {
  display: inline-block;
  margin-left: 10px;
  text-decoration: line-through;
  color: #d0ced3;
}

select {
  width: 100%;
  height: 55px;
  border-radius: 10px;
  margin-bottom: 30px;
  padding-left: 15px;
  box-sizing: border-box;
  outline: none;
  border: solid 0.5px #000;
}
select:hover, select:focus {
  outline: none;
  border: solid 0.5px transparent;
  background-color: #ededed;
}

.header {
  flex-direction: row;
  justify-content: space-between;
  margin: 28px auto;
  align-items: center;
  width: 1240px;
}

.navigation {
  column-gap: 14px;
}

.navigation li {
  list-style-type: none;
  transition: ease 0.3s;
}
.navigation li a {
  padding: 7px 13px;
  text-decoration: none;
  color: #000;
  border-radius: 10px;
  transition: ease 0.3s;
  box-sizing: border-box;
}
.navigation li:hover a {
  background-color: #000;
  color: #fff;
  transition: ease 0.3s;
}
.navigation li svg path {
  stroke: #fff;
  transition: ease 0.3s;
}

.header-icon-wrapper {
  align-items: center;
  margin-right: 30px;
  column-gap: 24px;
}
.header-icon-wrapper a {
  height: 35px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
  transition: ease 0.3s;
}
.header-icon-wrapper a:hover {
  background-color: #000;
  transition: ease 0.3s;
}
.header-icon-wrapper a:hover path {
  fill: #fff;
}
.header-icon-wrapper a:hover .img-favorite path, .header-icon-wrapper a:hover .img-basket path {
  stroke: #fff;
  fill: none;
}

.enter-btn {
  padding: 14px 27px;
  color: #fff;
  background-color: #000;
  border-radius: 10px;
  outline: none;
  border: none;
}

.navigation-a-shop svg {
  margin-left: 7px;
  transition: ease 0.3s;
}

.first-page-image {
  position: relative;
}
.first-page-image img {
  position: absolute;
  max-width: 1440px;
  z-index: 0;
}
.first-page-offer {
  max-width: 1137px;
  margin: 0 auto;
  position: relative;
  margin-top: 18em;
  margin-bottom: 18em;
}
.first-page-offer .h1 {
  font-size: 60px;
  font-weight: 700;
}
.first-page-offer .h2 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 5px;
}
.first-page-offer .h3 {
  font-size: 30px;
  font-weight: 400;
}
.first-page-offer-a {
  display: inline-block;
  margin-top: 50px;
  padding: 17px 33px 17px 24px;
  color: #fff;
  background-color: #000;
  border-radius: 10px;
  text-decoration: none;
  transition: ease 0.3s;
}
.first-page-offer-a svg {
  margin-left: 14px;
}
.first-page-offer-a:hover {
  background-color: #fff;
  color: #000;
  transition: ease 0.3s;
}
.first-page-offer-a:hover svg path {
  stroke: #000;
  transition: ease 0.3s;
}

.cat {
  position: relative;
  width: 1137px;
  margin: 0 auto;
}
.cat-wrapper {
  justify-content: space-between;
  margin-top: 105px;
  margin-bottom: 50px;
  align-items: center;
}
.cat-slider {
  max-width: 1137px;
  column-gap: 30px;
}
.cat-slider .slider-item {
  width: 23%;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f3f3f3;
  overflow: hidden;
}
.cat-slider .slider-item p {
  position: absolute;
  left: 36px;
  z-index: 0;
  font-size: 66px;
  letter-spacing: 7px;
  font-weight: bold;
  color: #e8e8e8;
}
.cat-slider .slider-item a {
  padding: 14px 0px;
  background-color: #fff;
  font-size: 16px;
  border-radius: 10px;
  margin: 0 21px 16px;
  display: block;
  text-align: center;
  transition: ease 0.3s;
}
.cat-slider .slider-item a:hover {
  background: #000;
  color: #fff;
  transition: ease 0.3s;
}
.cat-slider .slider-item .bgr {
  z-index: 2;
}

.promo {
  max-width: 1137px;
  margin: 0 auto;
}
.promo-wrapper .h2 {
  margin: 70px 0 10px;
}
.promo-a {
  padding: 16px 21px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  margin-right: 7px;
  transition: ease 0.3s;
}
.promo-a svg {
  margin-left: 7px;
  transition: ease 0.3s;
}
.promo-a:hover {
  color: #000;
  background-color: #fff;
  transition: ease 0.3s;
}
.promo-a:hover svg path {
  stroke: #000;
  transition: ease 0.3s;
}
.promo .data {
  column-gap: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.promo .data-item {
  width: 85px;
  height: 85px;
  box-sizing: border-box;
  text-align: center;
  padding: 7px 16px;
  border: solid 1px #d9d9d9;
  border-radius: 10px;
}
.promo .data h2 {
  font-size: 29px;
  font-weight: 700;
}

.review {
  margin: 150px auto;
  background-color: #fafafb;
  width: 1440px;
}

.rev-wrapper-title {
  max-width: 1137px;
  margin: 50px auto;
  justify-content: space-between;
  align-items: center;
}

.rev-container {
  max-width: 1137px;
  column-gap: 30px;
  margin: 0 auto 50px;
}
.rev-container .rev-wrapper {
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  width: 360px;
  padding: 35px 30px 30px;
  box-sizing: border-box;
}
.rev-container .rev-wrapper .rev-p {
  margin-top: 30px;
  margin-bottom: 30px;
}
.rev-container .rev-wrapper .customer-p {
  margin-left: 7px;
}
.rev-container .rev-wrapper .cust-p {
  font-size: 16px;
  font-weight: 700;
}

.insta {
  max-width: 1137px;
  margin: 0 auto;
}
.insta .h2 {
  text-align: center;
  margin-bottom: 50px;
}
.insta .insta-container {
  justify-content: space-between;
  column-gap: 30px;
}
.insta .insta-container .insta-photo {
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 261px;
  border-radius: 10px;
  background-color: #d9d9d9;
}
.insta .insta-container .insta-photo:hover circle,
.insta .insta-container .insta-photo:hover path {
  stroke: #000;
  fill: #fff;
  transition: ease 0.3s;
}
.insta .insta-container .insta-photo svg circle,
.insta .insta-container .insta-photo svg path {
  stroke: transparent;
  fill: transparent;
  transition: ease 0.3s;
}

.bullit {
  width: 1137px;
  column-gap: 30px;
  margin: 100px auto;
  justify-content: space-between;
}
.bullit-item {
  width: 23%;
}
.bullit-item img {
  margin-bottom: 30px;
}/*# sourceMappingURL=style.css.map */