.main-catalog {
  justify-content: space-between;
}
.category-select {
  width: 250px;

  outline: none;
  border: solid 0.5px #000;
}
.product-list {
  display: flex;
  width: 960px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 100px;
  gap: 30px;

  & .seller-item {
    display: flex;
    flex-direction: column;
    width: auto;

    & .seller-img-wrapper {
      flex-direction: column;
    }

    & button {
      position: absolute;
      bottom: 17px;
      padding: 14px 68px;
      left: 23px;
      border-radius: 10px;
      background: #fff;
      outline: none;
      border: none;

      &:hover {
        background: #000;
        color: #fff;
        transition: ease 0.3s;
      }
    }
  }
}
.category-select {
  border: solid 0.5px transparent;
  margin-right: 30px;
}
