* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  font-family: "Jost";
  font-size: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1440px;
  position: relative;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  flex-grow: 1;
}
footer {
  flex-grow: 0;
}
a {
  text-decoration: none;
  color: #000;
}
.header,
.main,
.footer {
  // max-width: 1200px;
  display: flex;
  flex-direction: column;
}
.navigation,
.header-icon,
.header-icon-wrapper,
.cat-wrapper,
.slider,
.cat-slider,
.slider-item,
.seller-wrapper,
.seller-img-wrapper,
.promo,
.data,
.rev-wrapper-title,
.rev-slider,
.rev-container,
.rev-wrapper,
.author,
.insta-container,
.insta-photo,
.bullit,
.info,
.mail,
.cards,
.underline,
.sprite,
.main-container,
.add-photo,
.price-li,
.checkbox-wrap,
.size,
.breadcrumbs {
  display: flex;
}
h2 {
  font-size: 40px;
  font-weight: 400;
}

.slider {
  column-gap: 20px;

  & svg {
    cursor: pointer;
    transition: ease 0.3s;

    &:hover rect {
      fill: #000;
      transition: ease 0.3s;
    }
    &:hover path {
      stroke: #fff;
      transition: ease 0.3s;
    }
  }
}
.sidebar {
  // display: none;
  position: fixed;
  top: 120px;
  left: 10px;
  z-index: 5;

  & li {
    list-style-type: none;
    margin-bottom: 20px;

    & a svg {
      width: 35px;
    }

    & a[disabled] {
      cursor: not-allowed;
    }
    & a[disabled] svg path {
      fill: #d9d9d9;
    }
  }
}
.breadcrumbs {
  margin-bottom: 30px;

  & li {
    list-style-type: none;

    & a svg {
      margin-left: 5px;
      margin-right: 10px;
      transform: rotate(-90deg);
    }
  }
}
.seller {
  margin: 150px auto;
  text-align: center;

  & .h2 {
    margin-bottom: 50px;
  }
  &-wrapper {
    max-width: 1137px;
    flex-wrap: wrap;
    gap: 30px;
  }

  &-item {
    width: 23%;
    text-align: left;
  }

  &-img-wrapper {
    position: relative;
    background-color: #f3f3f3;
    height: 327px;
  }
  & .add-btn {
    position: absolute;
    bottom: 17px;
    padding: 14px 68px;
    left: 23px;
    border-radius: 10px;
    background: #fff;
    outline: none;
    border: none;
  }

  &-desc {
    margin-top: 22px;
  }

  &-discount {
    display: inline-block;
    margin-left: 10px;
    text-decoration: line-through;
    color: #d0ced3;
  }
}
select {
  width: 100%;
  height: 55px;
  border-radius: 10px;
  margin-bottom: 30px;
  padding-left: 15px;
  box-sizing: border-box;
  outline: none;
  border: solid 0.5px #000;

  &:hover,
  &:focus {
    outline: none;
    border: solid 0.5px transparent;
    background-color: #ededed;
  }
}
